<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link tal:replace="" rel="stylesheet" type="text/css" href="style.css" />
<link rel="stylesheet" type="text/css" href="./Templates/ext/style.css" />
<title tal:content="page/title">Title</title>
</head>

<body>
	
    <div id="userpanel">
    	<a href="./index.php">Home</a>
        <div id="add">
        	<form>
            	<input type="button" value="Dodaj!" id="addbutton" />
            </form>
        </div>
    </div>
	
    
    
    <div id="filters">
    	filters
    </div>
    
    <div id="content">
    	<div id="posts">
        
        </div>
        <div id="end">End of page</div>
    </div>
    
    <div id="postformlayer" />
    <div id="graylayer" />


	<!-- SCRIPTS -->
	<script type="text/javascript" src="./Templates/ext/jquery-1.5.js"></script>
	<script type="text/javascript" src="./Templates/ext/sunray.js"></script>
	<script tal:replace="" type="text/javascript" src="jquery-1.5.js"></script>
    <script tal:replace="" type="text/javascript" src="sunray.js"></script>
    
</body> 
</html>
